<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.SqlConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=imobiliaria;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.MySqlConnectionString" connectionString="Persiste Security Info=False;Server=127.0.0.1;Database=imobiliaria;User Id=root;Password=;Pooling=False;" />
    </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>