<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ApresentacaoWindows.Properties.Settings.imobiliariaConnectionString"
            connectionString="Data Source=MARTINELLI-07\SQLEXPRESS;Initial Catalog=imobiliaria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>